[report]
omit = *numpy*
     *xls*
     *pandas*
     *html5lib*
     *bottleneck*
     *matplotlib*
     *dateutil*
     *bs4*
     *cycler.py*
     *xml*
     *numexpr*
     *html/*.py*
     *pytz*
     *six.py*
     *stringprep*
     *uuid*
     *_markupbase.py*
     *csv.py*
     *ctypes*
     *decimal.py*
     *distutils/*
     *timeit.py*
     *python.py*
     *pyparsing.py*
     *fractions.py*
     *encodings/*
     *gzip.py*
     *numbers.py*
